language: cpp

sudo: false

compiler:
  - gcc
  - clang

addons:
  apt:
    sources:
    - kalakris-cmake
    - ubuntu-toolchain-r-test
    - boost-latest
    - llvm-toolchain-precise-3.5
    packages:
    - cmake
    - libboost1.55-all-dev
    - g++-4.8
    - gcc-4.8
    - clang-3.5

cache:
  apt: true
  directories:
  - deps-gcc
  - deps-clang

before_install:
  - git clone https://github.com/agra-uni-bremen/dependencies.git
  - export BOOST_ROOT=/usr
  - if [[ "${CXX}" == "g++" ]]; then export CXX="g++-4.8" CC="gcc-4.8" DEPS="deps-gcc"; fi
  - if [[ "${CXX}" == "clang++" ]]; then export CXX="clang++-3.5" CC="clang-3.5" DEPS="deps-clang"; fi
  - ./bootstrap.sh --deps ${DEPS} --travis -m RELEASE build/

before_script:
  - cd build

script: make

after_success:
  - make test

os:
  - linux
