language: cpp

sudo: false

env:
- metaSMTConfig="--academic"                                            # boolector with lingeling and minisat
                                                                        # yices2
- metaSMTConfig="--academic -DmetaSMT_REQUIRE_CXX11=off"                # now without C++11
                                                                        # 
- metaSMTConfig="-b Z3-4.4.1"                                           # z3
- metaSMTConfig="-b cvc4-smtcomp2015-stable"                            # cvc4
- metaSMTConfig="-b stp-git-basic -b cryptominisat-git -b minisat-git"  # stp with cryptominisat and minisat
- metaSMTConfig="--non-free"                                            # sword
- metaSMTConfig="-b aiger-20071012 -b picosat-936 -b cudd-2.4.2"        # others

compiler:
  - gcc
  - clang

matrix:
  exclude:
  - compiler: gcc
    env: metaSMTConfig="-b Z3-4.4.1"
  - compiler: gcc
    env: metaSMTConfig="-b cvc4-smtcomp2015-stable"
  - compiler: clang
    env: metaSMTConfig="--non-free"
  - compiler: clang
    env: metaSMTConfig="-b aiger-20071012 -b picosat-936 -b cudd-2.4.2"

addons:
  apt:
    sources:
    - kalakris-cmake
    - ubuntu-toolchain-r-test
    - boost-latest
#    - llvm-toolchain-precise-3.5
    packages:
    - cmake
    - libboost1.55-dev
    - g++-4.8
    - gcc-4.8
#    - clang-3.5
    - libgmp-dev
    - gperf # required by yices2

cache:
  apt: true
  directories:
  - deps-gcc
  - deps-clang

before_install:
  - git clone https://github.com/agra-uni-bremen/dependencies.git
  - export BOOST_ROOT=/usr
  - if [[ "${CXX}" == "g++" ]]; then export CXX="g++-4.8" CC="gcc-4.8" DEPS="deps-gcc"; fi
#  - if [[ "${CXX}" == "clang++" ]]; then export CXX="clang++-3.5" CC="clang-3.5" DEPS="deps-clang"; fi
  - if [[ "${CXX}" == "clang++" ]]; then export DEPS="deps-clang"; fi
  - ./bootstrap.sh --deps ${DEPS} ${metaSMTConfig} -m RELEASE build/

before_script:
  - cd build

script: make

after_success:
  - make test

os:
  - linux
